# Modify the list to have only positive numbers 2

In [40]:
#meth 1
data = [1,2,3,-4,-5,0,6,7,-8,-9]
cnt = 0
for ind ,val in enumerate(data):
    if val<=0:
        cnt += 1
        for i in range(ind+1,len(data)):
            if data[i]>0:
                data[ind],data[i]=data[i],data[ind]
                
                break
    # else:
    #     print(val,"j")
        del(data[len(data)-cnt-1:])
     

print(data)

[1, 2, 3, 6, 7]

In [55]:
#meth 2
data = [1,2,3,-4,-5,0,6,7,-8,-9]
for i in range(len(data)-1,0,-1):
    if data[i]<=0:
        data.pop(i)
    # print(data[i])
print(data)

[1, 2, 3, 6, 7]

# Print my first letter inside star box

In [60]:
n = int(input())
for i in range(n):
    for j in range(n):
        if j == 0 or j==n-1:
            print("M",end=" ")
        elif(i<n/2):
            if i==j:
                print("M",end=" ")
            elif(i+j==n-1):
                print("M",end=" ")
            else:
                print("*",end=" ")
            
        else:
            print("*",end=" ")
        
    print()

 7

M * * * * * M
M M * * * M M
M * M * M * M
M * * M * * M
M * * * * * M
M * * * * * M
M * * * * * M

In [56]:
n = int(input())


for i in range(n):
    for j in range(n):
        if j == 0 or j==n-1:
            print("M",end=" ")
        elif(i<n/2):
            if i==j:
                print("M",end=" ")
            elif(i+j==n-1):
                print("M",end=" ")
            else:
                print(" ",end=" ")
            
        else:
            print(" ",end=" ")
        
    print()

 6

M         M
M M     M M
M   M M   M
M         M
M         M
M         M

# To print whether the month has friday on 13 or not

In [57]:
import datetime
mon = int(input("Enter within the range of 1-12: "))

year = int(input("Enter a positive year: "))
if  year>=0:
    for mon in range(1,13):
        x = datetime.datetime(year,mon,13)
        if x.strftime("%A") == 'Friday':
            print(x.strftime("%x"))

Enter within the range of 1-12:  14
Enter a positive year:  2

09/13/02
12/13/02

In [3]:
# updated code for each year
import datetime
mon = int(input("Enter within the range of 1-12: "))

year = int(input("Enter a positive year: "))
if mon<=12 and mon>0 and year>=0:
    # for mon in range(1,13):
    x = datetime.datetime(year,mon,13)
    if x.strftime("%A") == 'Friday':
        print(x.strftime("%x"))

Enter within the range of 1-12:  8
Enter a positive year:  2024

# To print A pattern

In [58]:
n = int(input())

for i in range(int(n/2)+1):
    for j in range(n+1):
        if j+i==n//2 or j-i==n//2:
            print("A",end=" ")
        elif i==int(n/4):
            if  (j+i>n//2 and j-i<n//2):
                
                print("A",end=" ")
            else:
                print("*",end=" ")
        else:
            print("*",end=" ")
    print()

 5

* * A * * *
* A A A * *
A * * * A *

# Find the duplicated words in the sentance

In [59]:
string1=input("enter a sentence: ")
string1=string1.lower()
l=string1.split()
for i in l:
    for j in range(len(i)):
        if i[j] in i[j+1:]:
            print(i)
            break
        else:
            continue

enter a sentence:  hi

# To get all fruits and vegies differntiated in the res dict

In [51]:
d1 = { 'f1':'apple','f2':'orange','v1':'potato','v2':'tomato'}
d2 = {'f1':'apple','f2':'pineapple','v1':'potato','v2':'capsicum'}
res = {}
l1 = []
l2 = []
for i in d1.keys():
    if i[0]=='f':
        l1.append(d1[i])
         
    else:
        l2.append(d1[i])
for i in d2.keys():
    if i[0]=='f' and d2[i] not in l1 :
        l1.append(d2[i])
        
    elif i[0]=='v' and d2[i] not in l2:
        l2.append(d2[i])
res['fruits']=l1
res['veg']=l2
print(res)

{'fruits': ['apple', 'orange', 'pineapple'], 'veg': ['potato', 'tomato', 'capsicum']}

# Assign random values to the dict values

In [40]:
import random
d = {'chennai':1,'Bglr':2,"delhi":3,"Mumbai":4}
n = len(d)
for i in d:
    d[i] = random.randrange(1,n)
print(d)

{'chennai': 2, 'Bglr': 1, 'delhi': 2, 'Mumbai': 3}

# Nested Dictionaries

In [14]:
data = {
    'car' :
    {
    'name': 'swift',
    'year' : 2020,
    'color' : ['white','black']},
    'bus':{
         'name': 'swift',
        'year' : 2010,
        'color' : ['white','black']}
}
tname = input("Enter Truck name ")
year = int(input("Enter the year of the model"))
color = list(map(str,input("Enter Colors").split()))

data['truck'] = dict(name=tname,year=year,color=color)
print(data)

Enter Truck name  ashok
Enter the year of the model 2016
Enter Colors red green

{'car': {'name': 'swift', 'year': 2020, 'color': ['white', 'black']}, 'bus': {'name': 'swift', 'year': 2010, 'color': ['white', 'black']}, 'truck': {'name': 'ashok', 'year': 2016, 'color': ['red', 'green']}}

In [27]:
# We can use zip to merge the contents together using zip but it will show only the addresses so we need to typecast it to iterable before printing or accessing
name = ['mathi','chandu','paddy']
age = [21,22,21]
res = {}
for i in range(len(name)):
    res[name[i]] = age[i]
print(res)
ans = zip(name,age)
print(dict(ans))

{'mathi': 21, 'chandu': 22, 'paddy': 21}
{'mathi': 21, 'chandu': 22, 'paddy': 21}
<zip object at 0x000001D9172EB700>

In [41]:
d1 = {
    'a' : {'w':'1','x':'2'},
    'b' : {'y':'4'},
    'c' : {'z':'5'}
}
d2 =  {
    'a' : {'w':'4','x':'3'},
    'b' : {'y':'1'},
    'c' : {'z':'0'}
}
res = {}
for key,value in d1.items():
    for val in value:
        res[key] = { val : int(d1[key][val])+int(d2[key][val])}

print(res)

1
{'a': {'x': 5}, 'b': {'y': 5}, 'c': {'z': 5}}

In [61]:
# 4. Write a function that sums all integer values in a nested dictionary, regardless of the depth.

d = {
    "key1": 5,
    "key2": {"key3": 3, "key4": {"key5": 7, "key6": 10}},
    "key7": 2,
}

def sum_num(d):
    total = 0
    
    for key, value in d.items():
        if isinstance(value,dict):
            total += sum_num(value)
        else:
            total += value
    return total
print(sum_num(d))

27

In [73]:
# 5. Write a function that filters a nested dictionary, keeping only the items that meet a certain condition. For example, keep only the entries where the value is greater than 5.

d = {

'A': {'B': 4, 'C': 10},
 'D': {'E': 6, 'F': {'G': 12, 'H': 3}}, 
'I':7
}

# Output Result:

# { 'A': {'C': 10},
#  D: ('E': 6, 'F': {'G': 12}}, 
# 'I': 7
# }
def iterate(d):
    backup = []
    for k,v in d.items():
        if isinstance(v,int):
            #integers
            if v<=5:
                print(k)
                backup.append(k)
        else:
            iterate(v)
    for i in backup:
        del d[i]
    return 
iterate(d)
print(d)

B
H
{'A': {'C': 10}, 'D': {'E': 6, 'F': {'G': 12}}, 'I': 7}

In [76]:
class Employee:
    def __init__(self,name,age,pos):
        self.name = name
        self.age = age
        self.pos = pos
        self.sal = 45000
    def display_employee_info(self):
        # print("The details of the employee is: ")
        # print(self.name)
        # print(self.age)
        # print(self.pos)
        return f' Employee name is {self.name} and he is a {self.pos}  ' 
    def give_raise(self,amount):
        self.sal +=  amount
    def promote(self,pos):
        self.pos = pos

e = Employee("Mohan",22,"C++ Software Developer")
e.give_raise(15000)
e.promote("Python Software Developer")
e.display_employee_info()

' Employee name is Mohan and he is a Python Software Developer  '

# Inheritance

In [3]:
class Par1:
    def __init__(self):
        self.name1 = "Dad"
    def show(self):
        print("par 1 is: ", self.name1)
class Par2:
    def __init__(self):
        self.name1 = "Mom"
        print(1)
    def show(self,other):
        print("par 2 is: ", self.name1,other)
class Ch1:
    def __init__(self):
        self.name1="me"
        # Par2.__init__(self)
        # Par2.show(self,self.name1)
    def show(self):
        print("ch is: ", self.name1)  
# o = Par2()
obj = Ch1()
obj.show()

ch is:  me

In [13]:
def outer():
    l = []
    def inner(inp):
        print('start')
        l.append(inp)
        print(l)
        print('en')
    return inner
z=outer()
z(2)
z(3)

start
[2]
en
start
[2, 3]
en

In [15]:
def outer_function():
    def inner_function():
        print("This is the inner function")
    
    inner_function()  # Calling the inner function from within the outer function
outer_function()

This is the inner function

Regex

In [28]:
#match will check for the first char of the given string if not matches return None
import re
t = 'abc123dfge234'
pat = r'\d'
res = re.match(pat,t)
if res:
    print(res.group())

None

In [31]:
#search will check for every char of the given string if not matches return None

t = 'abc123dfge234'
pat = r'\d'
res = re.search(pat,t)
if res:
    print(res.group())

1

In [73]:
def group_example():
    pattern = r'(?P<year>\d{4})-(?P<month>\d{2})-(?P<day>\d{2})'

    regex = re.compile(pattern)

    text = "The event is scheduled for 2024-08-30 2023-09-21."

    match = regex.findall(text)

    if match:
        for match in regex.finditer("The event is scheduled for 2024-08-30 2023-09-21."):
            year = match.group('year')
            month = match.group('month')
            day = match.group('day')
    
            group_dict = match.groupdict()
    
            # print(f"Year: {year}")
            # print(f"Month: {month}")
            # print(f"Day: {day}")
            print(f"Group dictionary: {group_dict}")
    else:
        print("No match found.")
group_example()

Group dictionary: {'year': '2024', 'month': '08', 'day': '30'}
Group dictionary: {'year': '2023', 'month': '09', 'day': '21'}

In [71]:

pattern = r'(?P<year>\d+)-(?P<mon>\d{2})-(?P<date>\d{2})'
m = re.compile(pattern)
for match in m.finditer("The event is scheduled for 2024-08-30 2023-09-21."):
    group = match.groupdict()
    print(group)
print(m.findall("The event is scheduled for 2024-08-30 2023-09-21."))
print(re.findall(pattern,"The event is scheduled for 2024-08-30 2023-09-21."))
# Either we can use compiled pattern for objects or we can directly give the patterns as parameter

{'year': '2024', 'mon': '08', 'date': '30'}
{'year': '2023', 'mon': '09', 'date': '21'}
[('2024', '08', '30'), ('2023', '09', '21')]
[('2024', '08', '30'), ('2023', '09', '21')]

In [70]:
t = 'hi this is mathi'
pat = r'\s+'
x = re.compile(pat)
r = re.split(pat,t)
print(x.split(t))

['hi', 'this', 'is', 'mathi']

In [ ]:
#RE for emails

In [117]:
#valid email address
pat  = r'^[a-zA-Z0-9.+]+@[a-zA-Z0-9-]+\.{1}[a-zA-Z]{2,}+'
# x = re.findall(pat,'mat1h@gamil.com')
email_list = [
      "example@gmail.com",
    "jane.doe123@example.co.uk",
    "john.smith@sub.domain.com",
    "alice.smith+filter@example.org",
    "info@company-name.com","example@.com",   
    "name@domain",   "@domain.com",     "user@domain..com"      
]
for i in email_list:
    x = re.search(pat,i)
    if x:
        print(i, "valid")
    else:
        print(i, "invalid")

example@gmail.com valid
jane.doe123@example.co.uk valid
john.smith@sub.domain.com valid
alice.smith+filter@example.org valid
info@company-name.com valid
example@.com invalid
name@domain invalid
@domain.com invalid
user@domain..com invalid

#RE for URLS

In [92]:
urlpat = r'^(https|http|ftp)?:\/\/(([a-zA-Z0-9\.]+\.[a-zA-Z]{2,3})|(localhost:[0-9]{0,5})|((([01]?[0-9]?[0-9])|(2[0-4][0-9])|(25[0-5]))\.){3}(([01]?[0-9]?[0-9])|(2[0-4][0-9])|(25[0-5])))$'
urls = ["https://www.example.com",
"http://example.org",
"ftp://files.example.net",
"https://subdomain.example.co.uk",
"http://localhost:8000",
"https://255.255.255.267"]
com = re.compile(urlpat)
for url in urls:
    x = com.search(url)
    if x:
        print("valid")
    else:
        print("invalid")

valid
valid
valid
valid
valid
invalid

In [ ]:
# RE for IP addresses

In [120]:
import re
pat = r'^((25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)$'
ex = re.compile(pat)
d = {}
with open('ips.txt','r') as lines:
    for line in lines:
        
        x = ex.search(line)
        if x:
            print("valid")
            foct = int(str(x.group()).split('.')[0])
            if foct>=0 and foct<=127:
                sub = "255.0.0.0"
            elif foct>=128 and foct<=191:
                sub = "255.255.0.0"
            elif foct>=192 and foct<=224:
                sub = "255.255.255.0"
            else:
                sub = None
            d[x.group()] = sub
        else:
            print("invalid")
print("Valid IPs  : Subnet Mask")
for  k,v in d.items():
    print(k,":",v)

valid
valid
valid
valid
valid
invalid
invalid
Valid IPs  : Subnet Mask
10.0.0.1 : 255.0.0.0
172.16.0.1 : 255.255.0.0
192.168.1.1 : 255.255.255.0
224.0.0.1 : 255.255.255.0
240.0.0.1 : None

In [39]:


test_ips = ['192.168.1.1', '256.255.255.255', '300.100.50.25', '10.0.0.256']

for ip in test_ips:
    if re.match(p, ip):
        print(f'{ip} is a valid IP address.')
    else:
        print(f'{ip} is not a valid IP address.')

192.168.1.1 is a valid IP address.
256.255.255.255 is not a valid IP address.
300.100.50.25 is not a valid IP address.
10.0.0.256 is not a valid IP address.

open file fetch ip add and ip as key and val as subnet